@section-0-bgcolor: #3D4D62;
@section-1-bgcolor: #5E7082;
@section-2-bgcolor: #657F94;
@section-3-bgcolor: #7897AC;
@section-4-bgcolor: #4F8AA8;
@section-5-bgcolor: #85ABBC;
@section-6-bgcolor: #697AA9;

@white: #FFFFFF;
@grey: #CFE5ED;
@red: #C73747;
@purple: #58297A;
@dark-blue: #2C4969;
@light-blue: #7FC1EC;
@blue-green: #AAD1D5;
@yellow: #DCDB21;
@light-grey: #ECECEB;
@dark-purple: #302B5A;
@orange: #EAB816;

body {
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

#ribbon-menu {
    font-weight: bold;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    padding-top: 10px;
    height: 105px;
    background-image: url(images/menu-gradient.png);
    background-repeat: repeat-x;
}

#ribbon-left, #ribbon-right {
    position: absolute;
    width: 67px;
    height: 105px;
    margin-top: -10px;
}

#ribbon-left {
    left: 0;
    margin-left: -67px;
    
    background-image: url(images/menu-left.png);
}

#ribbon-right {
    right: 0;
    margin-right: -67px;
    background-image: url(images/menu-right.png);
}

#ribbon-menu-stripe {
    width: 100%;
    display:table-row;
    height: 67px;
    a {
        display: table-cell;
        cursor: pointer;
        width: 16.6%;
        height: 67px;
        overflow: hidden;
        text-align: center;
        -webkit-transition: all 0.2s;  /* Saf3.2+, Chrome */
        -moz-transition: all 0.2s;  /* FF4+ */
        -ms-transition: all 0.2s;  /* IE10 */
        -o-transition: all 0.2s;  /* Opera 10.5+ */
        transition: all 0.2s; 
        color:#27348B;
        text-decoration:none;
        &:hover, &.active-button {
            background:#64257E;
            color:#ffffff;
        }
    }
    
    span {
        line-height:67px;
    }
}

#logo {
     display: table-cell;
     vertical-align: middle;
     text-align: center;
     width: 16.6%;
     padding: 0 10px;
}


#content {
    background-color: #334C63;
    min-height: 4000px;
    
    section {
        min-height: 100%;
        padding-top: 100px;
        
    }
    
    
}

.divider {
    position: absolute;
    width: 100%;
    height: 36px;
    left: 0;
    opacity: 0.4;
    background-color: #322245;
}

.box(){
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #000000;
}

.box {
    .box();
}

#about {
    color: @white;
    font-size: 1.5em;
    .box {
        background-color: @grey;
        border-color: #ffffff;
        border-width: 1px;
        border-style: solid;
    }
}




