@section-0-bgcolor: #3D4D62;
@section-1-bgcolor: #5E7082;
@section-2-bgcolor: #657F94;
@section-3-bgcolor: #7897AC;
@section-4-bgcolor: #4F8AA8;
@section-5-bgcolor: #85ABBC;
@section-6-bgcolor: #697AA9;

@white: #FFFFFF;
@grey: #839ca6;
@red: #C73747;
@purple: #58297A;
@dark-blue: #2C4969;
@light-blue: #7FC1EC;
@blue-green: #AAD1D5;
@yellow: #DCDB21;
@light-grey: #ECECEB;
@dark-purple: #302B5A;
@orange: #EAB816;

@shadow-color: rgba(0,0,0,0.7);
body {
    font-family: Helvetica, Arial;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 0.1em;
}

p {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

#ribbon-menu {
    font-weight: bold;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    padding-top: 10px;
    height: 105px;
    background-image: url(images/menu-gradient.png);
    background-repeat: repeat-x;
}

#ribbon-left, #ribbon-right {
    position: absolute;
    width: 67px;
    height: 105px;
    margin-top: -10px;
}

#ribbon-left {
    left: 0;
    margin-left: -67px;
    
    background-image: url(images/menu-left.png);
}

#ribbon-right {
    right: 0;
    margin-right: -67px;
    background-image: url(images/menu-right.png);
}

#ribbon-menu-stripe {
    width: 100%;
    display:table-row;
    height: 67px;
    a {
        display: table-cell;
        cursor: pointer;
        width: 16.6%;
        height: 67px;
        overflow: hidden;
        text-align: center;
        -webkit-transition: all 0.2s;  /* Saf3.2+, Chrome */
        -moz-transition: all 0.2s;  /* FF4+ */
        -ms-transition: all 0.2s;  /* IE10 */
        -o-transition: all 0.2s;  /* Opera 10.5+ */
        transition: all 0.2s; 
        color:#27348B;
        text-decoration:none;
        &:hover, &.active-button {
            background:#64257E;
            color:#ffffff;
        }
    }
    
    span {
        line-height:67px;
    }
}

#logo {
     display: table-cell;
     vertical-align: middle;
     text-align: center;
     width: 16.6%;
     padding: 0 10px;
}


#content {
    background-color: #334C63;
    min-height: 4000px;
    
    section {
        min-height: 100%;
        padding-top: 100px;
        padding-bottom: 30px;
    }
    
    
}

.divider {
    position: absolute;
    width: 100%;
    height: 36px;
    left: 0;
    opacity: 0.4;
    background-color: #322245;
}

.box(){
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px @shadow-color;
}

.box {
    .box();
}

#about {
    color: @white;
    font-size: 1.5em;
    .box {
        margin-top: 50px;
        background-color: @grey;
        border-color: #ffffff;
        border-width: 1px;
        border-style: solid;
    }
}

#white-bar {
    .box();
    background-color: #ffffff;
    div {
        margin: 0 auto;
    }
}

.arrow-red-down {
    width: 37px;
    height: 37px;
    background-image: url(images/arrow-red-down.png);
}

.little-circles {
    width: 121px;
    height: 110px;
    background-image: url(images/little-circles.png);
}

.supermarket {
    width: 154px;
    height: 122px;
    background-image: url(images/supermarket.png); 
}

.products {
    width: 119px;
    height: 153px;
    background-image: url(images/products.png); 
}

.girl-shopping-car {
    width: 114px;
    height: 133px;
    background-image: url(images/girl-shopping-cart.png); 
}

#work {
    position: relative;
    color: @light-blue;
    h1 {
        color: @dark-blue;
    }
    
    > div {
        width: 495px;
        height: 462px;
        position: relative;
        margin: 0 auto;
    }
    
    article {
        position: absolute;
    }
    
    article > div {
        position: absolute;
    }
    
    .box {
        .box();
        color: @dark-blue;
        display: none;
        width: 330px;
        background-color: #ffffff;
        background-image: url(images/diagonal-stripe.png);
    }
    h3 {
        margin-top: 0;
        margin-bottom: 10px;
        color: @red;
    }
    
}

.work-label {
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px @shadow-color;
    color: #64257E;
    background-color: #ffffff;
    display: inline-block;
    font-weight: bold;
}

.plus-button {
    cursor: pointer;
    background-image: url(images/plus.png);
    width: 35px;
    height: 35px;
    
    -webkit-transition: -webkit-transform 0.25s ease-out;
    -moz-transition:    -moz-transform 0.25s ease-out;
    -o-transition:      -o-transform 0.25s ease-out;
    -ms-transition:     -ms-transform 0.25s ease-out;
    transition:         transform 0.25s ease-out;
}

.open {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#work-1 {
    left: 80px;
    top: 18px;
    .work-label {
        width: 160px;
        left: -87px;
        top: 17px;
    }
}

#work-2 {
    left: 264px;
    top: 0px;
    .work-label {
        width: 100px;
        left: -28px;
        top: 10px;
    }
    .plus-button {
        left: 110px;
        top: 80px;
    }
    .box {
        left: 132px;
        top: -4px;
    }
}

#work-3 {
    left: 370px;
    top: 148px;
    .work-label {
        text-align: right;
        width: 168px;
        left: 75px;
        top: 14px;
    }
}

#work-4 {
    left: 290px;
    top: 315px;
    .work-label {
        text-align: right;
        width: 140px;
        left: 37px;
        top: 27px;
    }
    .plus-button {
        left: 100px;
        top: 100px;
    }
    .box {
        left: 127px;
        top: 12px;
    }
}

#work-5 {
    left: 109px;
    top: 335px;
    .work-label {
        width: 115px;
        left: -44px;
        top: 36px;
    }
}

#work-6 {
    left: 3px;
    top: 186px;
    .work-label {
        width: 110px;
        left: -29px;
        top: 17px;
    }
    .plus-button {
        left: 7px;
        top: 100px;
    }
    .box {
        left: -276px;
        top: 88px;
    }
}

.arrow-red {
    position: absolute;
    width: 32px;
    height: 31px;
    background-image: url(images/arrows-sprite.png);
}

#work-arrow-1 {
    left: 228px;
    top: 48px;
}

#work-arrow-2 {
    background-position:  -32px 0px;
    left: 382px;
    top: 126px;
}

#work-arrow-3 {
    background-position: -64px 0px;
    left: 392px;
    top: 295px;
}

#work-arrow-4 {
    background-position: -96px 0px;
    left: 258px;
    top: 388px;
}

#work-arrow-5 {
    background-position: -128px 0px;
    left: 98px;
    top: 329px;
}

#work-arrow-6 {
    background-position: -160px 0px;
    left: 88px;
    top: 155px;
}

.icon {
    position: absolute;
    width: 152px;
    height: 152px;
    background-repeat: no-repeat;
    background-position: center;
}
    
.icon-dna {
    background-image: url(images/icon-dna.png);
}

.icon-cart {
    background-image: url(images/icon-cart.png);
}

.icon-market {
    background-image: url(images/icon-market.png);
}

.icon-circles {
    background-image: url(images/icon-circles.png);
}

.icon-itens {
    background-image: url(images/icon-itens.png);
}

#services {
    
    .box {
        position: relative;
        background-color: #FECD42;
        vertical-align: middle;
        text-align: center;
    }
    
    .row > div {
        height: 250px;
        vertical-align: middle;
    }
    
}

.girl-icon {
    position: relative;
    display: inline-block;
    background-image: url(images/green-girl-icon.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 99px;
    
    .checkmark, .crossmark {
        position: absolute;
        width: 46px;
        height: 46px;
        left: 49px;
        top: 61px;
        background-repeat: no-repeat;
    }
    .checkmark {
        background-image: url(images/checkmark-blue.png);
    }
    .crossmark {
        position: absolute;
        background-image: url(images/cross.png);
    }
}

.responsive-green-arrow {
    width: 48px;
    height: 47px;
    background-image: url(images/arrow-green.png);
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.resume {
    position: absolute;
    left: -18px;
    width: 218px;
    height: 229px;
    background-image: url(images/resume.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.apples {
    width: 173px;
    height: 170px;
    background-image: url(images/apples.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 75px;
}

.girl {
    width: 99px;
    height: 251px;
    background-image: url(images/girl.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 175px;
}


